/* Standard styles for an animation game */
/* By: Tony Beier May 10, 2020 */

/* By: Matt Mongeau */
html, body {
	height: 100%;
	margin: 0;
}
body {
	align-items: center;
	background: black;
	color: white;
	justify-content: center;
}

/* By: Tony Beier May 10, 2020 */
.gameTitle {
	text-align: center;
	width: calc(100% - 400px);
}

/* By: Tony Beier May 10, 2020 */
#topPlayerScore {
	background-color: black;
	color: white;
	display: inline-block;
	float: left;
	padding: 1rem;
	width: 200px;
}

/* By: Tony Beier May 10, 2020 */
#bottomPlayerScore {
	background-color: black;
	color: white;
	display: inline-nblock;
	float: right;
	padding: 1rem;
	text-align: right;
	width: 200px;
}

/* By: Tony Beier May 10, 2020 */
.instructions {
	background-color: white;
	color: black;
	display: inline-block;
	float: left;
	padding: 1rem;
	width: 300px;
}

/* By: Tony Beier May 10, 2020 */
.keys {
	float: right;
	text-align: center;
}

/* By: Tony Beier May 10, 2020 */
kbd {
	border-radius: 2px;
	padding: 2px;
	border: 1px solid black;
}

/* By: Tony Beier May 10, 2020 */
#arena {
	clear: both;
	height: 600px;
	left: calc( (100% - 400px) / 2);
	position: relative;
	text-align: center;
	width: 400px;
}

/* By: Tony Beier May 10, 2020 */
.topPlayer {
	display: none;
	height: 50px;
	position: absolute;
	top: -40px;
	width: 50px;
}

/* By: Tony Beier May 10, 2020 */
.bottomPlayer {
	display: none;
	height: 50px;
	position: absolute;
	top: 580px;
	width: 50px;
}
